body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: url('svgs/background.svg') #edeff0;
  background-size: 50px;
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
  }
  a:hover {
    color: #111;
  }

header {
  padding-top: 10px;
}
  header nav {
  padding-bottom: 50px;
  text-align: left;
  }
  header nav ul li {
  display: inline-block;
  margin-right: 20px;
	 
  }

.homelink{
 background-image: url(svgs/nav-heart.svg);
	
}
.homelink:hover {
background-image: url(svgs/nav-heart-hover.svg);
}
.visituslink{
background-image: url(svgs/nav-location.svg);
	
}
.visituslink:hover {
	background-image: url(svgs/nav-location-hover.svg);
}
.contactuslink{
	background-image: url(svgs/nav-contact.svg);
	
}
.contactuslink:hover {
	background-image: url(svgs/nav-contact-hover.svg);
}


  header nav ul li a {
    padding-left: 19px;
	background-size: 14px 14px;
    background-repeat: no-repeat;
	background-position: left center;
  }

  header h1 {
    line-height: 1em;
  }

main {
  padding-top: 50px;
}
  main h2 {
  font-size: 28px;
}
  main ul {
    padding: 0;
  }
    main li {
      display: inline-block;
      
      margin-right: 20px;
    }
      main li img {
        margin-bottom: 15px;
      }
      main li span {
        margin-left: -40px;
      }
      main li:last-child {
		  
        margin-right: 0;
      }




.mainlogost0{fill:#BA8058;}

.mainlogost1{fill:#EAAA7F;}

.mainlogost2{fill:#F4C6A6;}

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}


.logowrapper {
	margin: 0 auto;
}

.logosvg {

width: 140px;	

}

.logotxt {
		display: none;
	}

.logoh1 {
	display: inline;
}


.corgicoatsvgs img {
	
	width: 170px;
	
}

.menuicons svg {
	
	width:14px;
	
	
}

.st0:hover {
	
	fill: #111111;
	
	
}

@media (min-width: 420px) {
	
	.logotxt {
		display: inline;
	}
	.logoh1 {
	display: none;
}

}

	
	
	





